* {
  font-family: 'Poppins';
}

body {
  background-color: #cdb885;
  padding: 0;
  margin: 0;
}

#header {
  background-color: #6e5034;
  color: white;
  display: flex;
  height: 15vh;
  align-items: center;
  padding: 0 0 0 3%;
}

#header > img {
  height: 53%;
  margin-right: 1.5%;
}