* {
  font-family: 'Poppins';
}

body {
  background-color: #cdb885;
  padding: 0;
  margin: 0;
}

#header {
  background-color: #6e5034;
  color: white;
  display: flex;
  height: 15vh;
  align-items: center;
  padding-left: 3%;
}

#header > img {
  height: 53%;
  margin-right: 1.5%;
}

#add-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0 2% 0;
}

#add-button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

#book-grid-container {
  display: grid;
  grid-template: 40vh 40vh 40vh / 1fr 1fr 1fr;
  gap: 3%;
  margin: 0 3% 0 3%;
}

@media (min-width: 1500px) {
  #book-grid-container {
  display: grid;
  grid-template: 40vh 40vh 40vh / 1fr 1fr 1fr 1fr;
  }
}

.book-card {
  background-color: #e7e0d0;
  color: #1d1d1d;
  border-radius: 15px;
  padding: 5%;
}

.book-title {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

.read-button,
.remove-button {
  display: block;
  border: none;
  width: 100%;
  height: 17%;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.read-button {
  background-color: #5dd376;
}

.remove-button {
  margin-top: 5%;
  background-color: #b9b3a4;
}