* {
  font-family: 'Poppins';
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #cdb885;
  padding: 0;
  margin: 0;
}

input,
button {
  -webkit-appearance: none;
  appearance: none;
  color: inherit;
}


#header {
  background-color: #6e5034;
  color: white;
  display: flex;
  height: 15vh;
  align-items: center;
  padding: 1% 0 1% 3%;
  border-bottom: 3px dashed rgba(0, 0, 0, 0.684);
}

#header > img {
  height: 70%;
  margin-right: 1%;
}

#add-book-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0 2% 0;
}

#add-book-button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.5s ease;
  border-radius: 15px;
  margin-bottom: 3%;
}

#add-book-button:hover {
  background-color: #e7e0d058;
}

#add-book-dialog {
  border-radius: 25px;
  padding: 4%;
  border: 2px solid black;
}

#add-book-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.406);
}

#add-book-form {
  display: grid;
  grid-template: 2fr 1fr 1fr 1fr 1fr / 1fr;
  gap: 2%;
  align-items: center;
  height: 60vh;
  width: 30vw;
}

#close-form {
  cursor: pointer;
  margin-bottom: -2.3vh;
}

#add-book-form > h1 {
  display: grid;
  grid-area: 1 / 1 / 2 / 2;
}
#book-title-input,
#book-author-input,
#book-page-input {
  font-size: 17px;
  border: 2px solid black;
  border-radius: 5px;
}

#book-title-input {
  display: grid;
  grid-area: 2 / 1 / 3 / 2;
}

#book-author-input {
  display: grid;
  grid-area: 3 / 1 / 4 / 2;
}

#book-page-input {
  display: grid;
  grid-area: 4 / 1 / 5 / 2;
}

#checkbox-wrapper {
  display: flex;
  align-items: center;
}

#read-checkbox-input {
  cursor: pointer;
  margin-left: 10%;
  height: 10%;
}

#submit-book-button {
  cursor: pointer;
  border-radius: 10px;
  border: 1.5px solid black;
  padding: 3% 0 3% 0;
  font-weight: 600;
  transition: background-color 0.1s ease;
  background-color: #49e9ef;
  font-size: 1rem;
}

#submit-book-button:active {
  background-color: #27f0f7;
}

#book-grid-container {
  display: grid;
  grid-template: repeat(auto-fit, 50vh 50vh 50vh) / 1fr 1fr 1fr;
  gap: 3%;
  margin: 0 3% 0 3%;
}

/* 
#add-book-form {
  display: grid;
  grid-template: 2fr 1fr 1fr 1fr 1fr / 1fr;
  gap: 5%;
  align-items: center;
  height: 50vh;
  width: 30vw;
}
  */

.book-card {
  background-color: #e7e0d0;
  color: #1d1d1d;
  border-radius: 15px;
  padding: 7%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: box-shadow 0.5s ease;
}

.book-card:hover {
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.book-title {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
  margin-top: 7%;
}

.book-page {
  margin-bottom: 9.5%;
}

.read-button,
.remove-button {
  display: block;
  border: none;
  width: 100%;
  height: 17%;
  padding: 7% 3% 7% 3%;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.282);
}

.read-button {
  background-color: #5dd376;
  transition: background-color 0.1s ease;
}

.read-button:active {
  background-color: #a5cbae;
}

.remove-button {
  margin-top: 5%;
  background-color: #b9b3a4;
}

.want-to-read {
  background-color: #5dd37749;
  border: 2px solid rgba(0, 0, 0, 0.282);
}

#footer {
  margin: 10% 0 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  justify-self: center;
}

#github-wrapper {
  display: flex;
  align-items: center;
  font-weight: 450;
  justify-content: center;
  text-align: center;
}

#github-wrapper > a > p {
  margin: 0;
}

#github-wrapper > a > img {
  height: 4.5vh;
  margin-right: 1vw;
}

#lower-footer > a > p {
  margin: 2vh 0 0 0;
  text-align: center;
}

@media (min-width: 1170px) {
  #book-grid-container {
    display: grid;
    grid-template: repeat(auto-fit, 55vh 55vh 55vh) / 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 990px) {
  #book-grid-container {
    margin: 0 4% 0 4%;
    gap: 3% 5%;
  }

  #header {
    font-size: 0.9rem;
  }

  #header > img {
  height: 60%;
  margin-right: 1%;
}

  #add-book-button {
    margin: 1% 0 1% 0;
  }

  .book-page {
  margin-bottom: 15%;
}
}

@media (max-width: 780px) {
  #book-grid-container {
    display: grid;
    grid-template: repeat(auto-fit, 50vh) / 1fr 1fr;
  }

  #footer {
    margin-top: 10%;
  }

  #lower-footer {
      font-size: 0.75rem;
    }
}

@media (max-width: 480px) {
  #book-grid-container {
    display: grid;
    grid-template: repeat(auto-fit, 55vh) / 1fr;
    margin: 6% 6% 0 6%;
    gap: 1%;
  }

  #header {
    font-size: 0.8rem;
  }

  #header > img {
    height: 55%;
  }

.book-page {
  margin-bottom: 10%;
}

  #add-book-button {
    margin-top: 6%;
  }

  #add-book-form {
    width: 70vw;
  }

  #footer {
    width: 80vw;
    margin-top: 12%;
  }

  #github-wrapper {
    font-size: 1rem;
    text-align: left;
  }

  #lower-footer {
    margin: 0 0 8% 0;
    font-size: 0.7rem;
  }
}

@media (max-width: 870px) {
  #add-book-form {
    width: 40vw;
  }
}

@media (max-width: 655px) {
  #add-book-form {
    width: 50vw;
  }
}

@media (max-width: 525px) {
  #add-book-form {
    width: 60vw;
  }
}

@media (max-width: 440px) {
  #add-book-form {
    width: 70vw;
  }

  #add-book-dialog {
    padding: 6%;
  }
}

@media (max-width: 390px) {
  #book-grid-container {
    grid-template: repeat(auto-fit, 60vh) / 1fr;
  }
  .book-page {
    margin-bottom: 20%;
  }

  #add-book-form {
    height: 60vh;
  }
  
  #add-book-form > h1 {
    font-size: 1.5rem;
  }

  #add-book-button {
    font-size: 2rem;
    margin: 7% 0 5% 0;
  }

  #read-checkbox-label {
    font-size: 0.9rem;
  }
}

@media (max-width: 290px) {
    #add-book-button {
    font-size: 1.5rem;
    margin: 7% 0 5% 0;
  }
}