* {
  font-family: 'Poppins';
}

body {
  background-color: #cdb885;
  padding: 0;
  margin: 0;
}

#header {
  background-color: #6e5034;
  color: white;
  display: flex;
  height: 15vh;
  align-items: center;
  padding-left: 3%;
}

#header > img {
  height: 53%;
  margin-right: 1.5%;
}

#add-book-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0 2% 0;
}

#add-book-button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.5s ease;
  border-radius: 15px;
}

#add-book-button:hover {
  background-color: rgba(255, 255, 255, 0.195);
}

#add-book-dialog {
  border-radius: 25px;
  padding: 4%;
  border: 2px solid black;
}

#add-book-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.406);
}

#add-book-form {
  display: grid;
  grid-template: 2fr 1fr 1fr 1fr 1fr / 1fr;
  gap: 5%;
  align-items: center;
  height: 50vh;
  width: 30vw;
}

#close-form {
  cursor: pointer;
  margin-bottom: -2.3vh;
}

#add-book-form > h1 {
  display: grid;
  grid-area: 1 / 1 / 2 / 2;
}

#book-title-input {
  display: grid;
  grid-area: 2 / 1 / 3 / 2;
}

#book-author-input {
  display: grid;
  grid-area: 3 / 1 / 4 / 2;
}

#book-page-input {
  display: grid;
  grid-area: 4 / 1 / 5 / 2;
}

#read-checkbox-wrapper {
  display: flex;
  justify-content: center;
}

#read-checkbox-input {
  cursor: pointer;
}

#submit-book-button {
  cursor: pointer;
  border-radius: 10px;
  border: 1.5px solid black;
  padding: 3% 0 3% 0;
  font-weight: 600;
  transition: background-color 0.1s ease;
  background-color: #49e9ef;
}

#submit-book-button:active {
  background-color: #27f0f7;
}

#book-grid-container {
  display: grid;
  grid-template: 45vh 45vh 45vh / 1fr 1fr 1fr;
  gap: 3%;
  margin: 0 3% 0 3%;
}

/* 
#add-book-form {
  display: grid;
  grid-template: 2fr 1fr 1fr 1fr 1fr / 1fr;
  gap: 5%;
  align-items: center;
  height: 50vh;
  width: 30vw;
}
  */

.book-card {
  background-color: #e7e0d0;
  color: #1d1d1d;
  border-radius: 15px;
  padding: 5%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.book-title {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
  margin-top: 3%;
}

.book-page {
  margin-bottom: 9.5%;
}

.read-button,
.remove-button {
  display: block;
  border: none;
  width: 100%;
  height: 17%;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.read-button {
  background-color: #5dd376;
}

.remove-button {
  margin-top: 5%;
  background-color: #b9b3a4;
}

@media (min-width: 1500px) {
  #book-grid-container {
    display: grid;
    grid-template: 40vh 40vh 40vh / 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 990px) {
  #add-book-button {
    margin: 1% 0 1% 0;
  }
}

@media (max-width: 780px) {
  #book-grid-container {
    display: grid;
    grid-template: 50vh 50vh 50vh / 1fr 1fr;
  }
}

@media (max-width: 480px) {
  #book-grid-container {
    display: grid;
    grid-template: repeat(8, 55vh) / 1fr;
    margin: 6% 6% 0 6%;
    gap: 1%;
  }

.book-page {
  margin-bottom: 10%;
}

  #add-book-button {
    margin-top: 6%;
  }

  #add-book-form {
    width: 70vw;
  }
}

@media (max-width: 870px) {
  #add-book-form {
    width: 40vw;
  }
}

@media (max-width: 655px) {
  #add-book-form {
    width: 50vw;
  }
}

@media (max-width: 525px) {
  #add-book-form {
    width: 60vw;
  }
}

@media (max-width: 440px) {
  #add-book-form {
    width: 80vw;
  }

  #add-book-dialog {
    padding: 6%;
  }
}

@media (max-width: 390px) {
  .book-page {
    margin-bottom: 20%;
  }
}